@import "reset"
@import "color"

$img-width: 404px
$img-table: 350px

html
  overflow-x: hidden
  *
    color: $black
  figure.wave
    width: 100vw
    height: 300px
    background-image: url('/static/svg/wave.svg')
    background-size: cover
    background-position: bottom
    background-repeat: no-repeat
    position: absolute
    left: 0
    right: 0
    z-index: -1
    opacity: 0.8

header
  width: 100vw
  height: 40vw
  background-image: url('/static/img/desc_banner.jpg')
  background-size: cover
  background-position: bottom
  background-repeat: no-repeat

.buyForm
  width: 100vw
  height: 100vh
  background-color: rgba($black, 0.60)
  z-index: 99
  position: fixed
  display: none
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  justify-content: center
  .inside
    z-index: 99
    position: fixed
    display: inherit
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    justify-content: center
    width: 620px
    height: 620px
    background-color: $black
    box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.4)
    border-radius: 20px
    .close
      position: absolute
      top: 0
      right: 0
      padding: 17px
      font-family: Montserrat, sans-serif
      color: #ffffff
      &:hover
        cursor: pointer
    form
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      *
        font-family: Montserrat, sans-serif
        width: $img-width
      input
        margin: 17px 0
        border: 1px solid white
        border-radius: 4px
        font-size: 26px
        padding: 8px 8px
      p
        padding: 8px 0
        line-height: 1.1
        color: #ffffff
      button
        margin-top: 17px
        padding: 17px
        background-color: $black
        border: 2px solid #ffffff
        border-radius: 8px
        font-size: 26px
        font-weight: 600
        color: #ffffff

.wrapper
  padding: 80px 0
  background-color: #F1F3F6
.product-single
  display: flex
  flex-direction: row
  justify-content: space-around
  max-width: 1440px
  margin: auto
  min-height: 90vh
  &-img
    figure.img
      width: $img-width
      height: $img-width * 1.618
      background-size: cover
      background-repeat: no-repeat
      background-image: url('/static/img/tire_img.jpg')
      background-position: center
      border-radius: 40px
      box-shadow: 30px 30px 80px rgba(55, 84, 170, 0.1), -30px -30px 80px #FFFFFF, inset 4px 4px 20px rgba(255, 255, 255, 0.5)

  &-filter
    display: flex
    flex-direction: column
    max-width: 692px
    *
      font-family: Montserrat, sans-serif
    .price_range
      display: flex
      justify-content: space-between
      padding-top: 8px
    h1
      font-size: 40px
      font-weight: 600
      font-family: Montserrat, sans-serif
    h3
      font-size: 21px
      color: $semi-black
      opacity: 80%
    &-block
      display: flex
      flex-direction: column
      margin-top: 26px
      .price
        h4
          font-size: 40px
          font-weight: 600
        button
          margin-top: 17px
          background-color: $black
          border: none
          width: 320px
          padding: 17px 0
          font-size: 26px
          color: #fff
          border-radius: 8px
      h3
        font-weight: 600
        color: $black
        opacity: 1
      .blocks
        display: flex
        flex-direction: row
        flex-wrap: wrap
        .block
          display: flex
          flex-direction: column
          justify-content: center
          width: 160px
          height: 98px
          border: 1px solid $black
          box-sizing: border-box
          margin-left: 0
          margin-top: 17px
          padding-left: 17px
          border-radius: 8px
          box-shadow: 4px 4px 17px rgba(55, 84, 170, 0.1), -4px -4px 17px #FFFFFF, inset 2px 2px 10px rgba(255, 255, 255, 0.5)
          h4
            font-size: 21px
            font-weight: 600
          p
            font-size: 15px
            color: $semi-black
            opacity: 0.87
          &:not(:nth-child(4n+1))
            margin-left: 17px
          &.active
            border: 2px solid $blue
            box-shadow: 4px 4px 17px rgba(55, 84, 170, 0.1), -4px -4px 17px #FFFFFF, inset 2px 2px 4px rgba($blue, 0.5)
        #radiusFront_blocks,#radiusBack_blocks
          display: flex
          flex-direction: row
          flex-wrap: wrap
          width: 50%
          .block
            &:not(:nth-child(4n+1))
              margin-left: 0
            &:not(:nth-child(2n+1))
              margin-left: 17px
          &.full_radius
            width: 100%
            .block
              &:not(:nth-child(4n+1))
                margin-left: 17px

.success
  .inside
    z-index: 99
    position: fixed
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100vw
    height: 100vh
    background-color: $black
    *
      font-family: Montserrat, sans-serif
      text-align: center
      color: #fff
    h1
      font-size: 40px
      font-weight: 600
      margin: 40px 20px
      margin-top: 0
    h3
      font-size: 21px
      opacity: 80%
      margin: 20px 20px
    a
      text-decoration: none
      width: 260px
      margin-top: 17px
      padding: 17px
      background-color: $black
      border: 2px solid #ffffff
      border-radius: 8px
      font-size: 26px
      font-weight: 600
      color: #ffffff


@media screen and (max-width: 1250px)
  .product-single
    &-filter
      max-width: 514px
      h1
        font-size: 35px
      &-block
        .blocks
          display: flex
          flex-direction: row
          flex-wrap: wrap
          .block
            &:not(:nth-child(4n+1))
              margin-left: 0
            &:not(:nth-child(3n+1))
              margin-left: 17px
          #radiusFront_blocks,#radiusBack_blocks
            width: 100%
            display: flex
            flex-wrap: wrap
            margin: 0
            &.full_radius
              .block
                &:not(:nth-child(4n+1))
                  margin-left: 0
                &:not(:nth-child(2n+1))
                  margin-left: 0
                &:not(:nth-child(3n+1))
                  margin-left: 17px

@media screen and (max-width: 1020px)
  .product-single
    &-img
      display: none
    &-filter
      max-width: 692px
      h1
        font-size: 35px
      &-block
        .blocks
          display: flex
          flex-direction: row
          flex-wrap: wrap
          .block
            margin-left: 0
            &:not(:nth-child(3n+1))
              margin-left: 0
            &:not(:nth-child(4n+1))
              margin-left: 17px
          #radiusFront_blocks,#radiusBack_blocks
            width: 100%
            display: flex
            flex-wrap: wrap
            margin: 0
            &.full_radius
              .block
                &:not(:nth-child(2n+1))
                  margin-left: 0
                &:not(:nth-child(3n+1))
                  margin-left: 0
                &:not(:nth-child(4n+1))
                  margin-left: 17px


@media screen and (max-width: 764px)
  .product-single
    &-img
      display: none
    &-filter
      max-width: 514px
      h1
        font-size: 35px
      &-block
        .blocks
          display: flex
          flex-direction: row
          flex-wrap: wrap
          .block
            &:not(:nth-child(4n+1))
              margin-left: 0
            &:not(:nth-child(3n+1))
              margin-left: 17px
          #radiusFront_blocks,#radiusBack_blocks
            &.full_radius
              .block
                &:not(:nth-child(4n+1))
                  margin-left: 0
                &:not(:nth-child(3n+1))
                  margin-left: 17px

@media screen and (max-width: 568px)
  header
    width: 100vw
    height: 133vw
    background-image: url('/static/img/mobile_banner.jpg')
    img
      max-width: 22vw
  .wrapper
    padding: 40px 0
  .product-single
    &-img
      display: none
    &-filter
      max-width: 337px
      h1
        font-size: 26px
      h3
        font-size: 17px
      &-block
        .blocks
          display: flex
          flex-direction: row
          flex-wrap: wrap
          .block
            &:not(:nth-child(4n+1))
              margin-left: 0
            &:not(:nth-child(3n+1))
              margin-left: 0px
            &:not(:nth-child(2n+1))
              margin-left: 17px
          #radiusFront_blocks,#radiusBack_blocks
            &.full_radius
              .block
                &:not(:nth-child(4n+1))
                  margin-left: 0
                &:not(:nth-child(3n+1))
                  margin-left: 0
                &:not(:nth-child(2n+1))
                  margin-left: 17px

  .buyForm
    .inside
      width: 100vw
      height: 100vh
      border: 0
      border-radius: 0
      form
        *
          font-family: Montserrat, sans-serif
          width: 89vw
        input
          margin: 17px 0
          font-size: 26px
          padding: 8px 8px
        p
          padding: 8px 0
          line-height: 1.1
          color: #ffffff
        button
          margin-top: 17px
          padding: 17px
          background-color: $black
          border: 2px solid #ffffff
          border-radius: 8px
          font-size: 26px
          font-weight: 600
          color: #ffffff


@media screen and (max-width: 368px)
  .product-single
    &-filter
      max-width: 305px
      h1
        font-size: 26px
      h3
        font-size: 17px
      &-block
        .blocks
          display: flex
          flex-direction: row
          flex-wrap: wrap
          .block
            width: calc(0.9*160px)
            height: calc(0.9*98px)
            &:not(:nth-child(4n+1))
              margin-left: 0
            &:not(:nth-child(3n+1))
              margin-left: 0px
            &:not(:nth-child(2n+1))
              margin-left: 17px
